In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import datetime as dt
%matplotlib inline

sns.set_style('darkgrid')

In [3]:
# read data
df = pd.read_excel('~/Documents/@Machine Learning/0- CCT/CA 2 project/data/apri_pi15_ina.xlsx')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TIME         31 non-null     object
 1   2015         30 non-null     float64
 2   Unnamed: 2   0 non-null      float64
 3   2016         30 non-null     float64
 4   Unnamed: 4   0 non-null      float64
 5   2017         30 non-null     float64
 6   Unnamed: 6   0 non-null      float64
 7   2018         30 non-null     float64
 8   Unnamed: 8   0 non-null      float64
 9   2019         30 non-null     float64
 10  Unnamed: 10  0 non-null      float64
 11  2020         30 non-null     object
 12  Unnamed: 12  2 non-null      object
 13  2021         30 non-null     object
 14  Unnamed: 14  3 non-null      object
dtypes: float64(10), object(5)
memory usage: 3.8+ KB

In [4]:
df = df[df.columns.drop(list(df.filter(regex='Unnamed:')))]

In [5]:
df.head(9)

,TIME,2015,2016,2017,2018,2019,2020,2021
0,GEO (Labels),NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,European Union - 27 countries (from 2020),100.0,97.25,98.84,102.56,104.08,102.49,114.16
2,European Union - 28 countries (2013-2020),100.0,97.22,99.20,103.24,104.90,:,:
3,Belgium,100.0,98.24,101.75,105.58,107.50,105.75,120.96
4,Bulgaria,100.0,96.90,98.50,102.60,104.00,100.8,112.4
5,Czechia,100.0,96.00,97.10,99.00,101.70,101.1,107.7
6,Denmark,100.0,99.92,100.60,103.01,104.13,103.66,111.12
7,Germany (until 1990 former territory of the FRG),100.0,97.10,98.50,102.70,103.90,103.1,112.9
8,Estonia,100.0,97.40,98.08,101.61,103.44,101.43,110.1